
## Feature Engineering

### Steps to Follow:

1. **Creating Aggregate Features**:
    - Sum of all transaction amounts for each customer.
    - Average transaction amount per customer.
    - Number of transactions per customer.
    - Standard deviation of transaction amounts per customer.

2. **Extracting Features**:
    - Transaction hour, day, month, and year.

3. **Encoding Categorical Variables**:
    - One-hot encoding.
    - Label encoding.

4. **Handling Missing Values**:
    - Imputation (mean, median, mode, KNN).
    - Removal of rows/columns with missing values.

5. **Normalizing/Standardizing Numerical Features**:
    - Normalization (scaling to [0, 1]).
    - Standardization (mean of 0, standard deviation of 1).

In [1]:
import pandas as pd

In [2]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../scripts')))

In [3]:
from feature_engineering import *

In [4]:
df = pd.read_csv('../data/data.csv')

In [5]:
df

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-1000.0,1000,2019-02-13T09:54:09Z,2,0
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2019-02-13T09:54:25Z,2,0
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2019-02-13T09:54:35Z,2,0
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,UGX,256,ProviderId_6,ProductId_19,tv,ChannelId_3,3000.0,3000,2019-02-13T10:01:10Z,2,0
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-60.0,60,2019-02-13T10:01:28Z,2,0

In [6]:
agg_features = AggregateFeatures(df)

## Create Aggregate Features

### Total Transaction Amount: 
Sum of all transaction amounts for each customer.

In [7]:
agg_features.sum_all_transactions()

### Average Transaction Amount: 
Average transaction amount per customer.

In [8]:
agg_features.average_transaction_amount()

### Transaction Count: 
Number of transactions per customer.

In [9]:
agg_features.transaction_count()

### Standard Deviation of Transaction Amounts: 
Variability of transaction amounts per customer.

In [10]:
agg_features.standard_deviation_amount()

### Final Result after Aggregation

In [11]:
final_df = agg_features.get_dataframe()
final_df.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0,109921.75,923.712185,119,3042.294251
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0,109921.75,923.712185,119,3042.294251
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0,1000.00,500.000000,2,0.000000
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0,228727.20,6019.136842,38,17169.241610
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0,228727.20,6019.136842,38,17169.241610

## Extracting Features

In [12]:
extracted_features = Extracting_features(final_df)

### Transaction Hour: 
The hour of the day when the transaction occurred.

In [13]:
extracted_features.transaction_hour()

### Transaction Day: 
The day of the month when the transaction occurred.

In [14]:
extracted_features.transaction_day()

### Transaction Month: 
The month when the transaction occurred.

In [15]:
extracted_features.transaction_month()

### Transaction Year: 
The year when the transaction occurred.

In [16]:
extracted_features.transaction_year()

### Final Result of the date feature extraction

In [17]:
extracted_features.get_dataframe()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount,TransactionHour,TransactionDay,TransactionMonth,TransactionYear
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,...,2,0,109921.75,923.712185,119,3042.294251,2,15,11,2018
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,109921.75,923.712185,119,3042.294251,2,15,11,2018
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,...,2,0,1000.00,500.000000,2,0.000000,2,15,11,2018
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,...,2,0,228727.20,6019.136842,38,17169.241610,3,15,11,2018
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,228727.20,6019.136842,38,17169.241610,3,15,11,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,2438140.00,4255.043630,573,22554.029939,9,13,2,2019
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_6,ProductId_10,airtime,...,2,0,58499.60,1360.455814,43,2274.756582,9,13,2,2019
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,58499.60,1360.455814,43,2274.756582,9,13,2,2019
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,UGX,256,ProviderId_6,ProductId_19,tv,...,2,0,851985.00,1625.925573,524,3207.920536,10,13,2,2019
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,UGX,256,ProviderId_4,ProductId_6,financial_services,...,2,0,851985.00,1625.925573,524,3207.920536,10,13,2,2019


### Encoding Categorical Variables

Convert categorical variables into numerical format by using:

- **One-Hot Encoding**: Converts categorical values into binary vectors.
- **Label Encoding**: Assigns a unique integer to each category.

### Identify columns to exclude, and categorical columns to encode

In [18]:
# Columns to drop
cols_to_drop = ['ProductId', 'BatchId',	'AccountId','ProviderId', 'SubscriptionId', 'Value','CountryCode','CurrencyCode']
# Categorical features
cat_features = ['ProductCategory', 'ChannelId']

final_df.drop(columns=cols_to_drop, inplace=True)

### A copy of the original DataFrame df is made to avoid modifying the original data

In [19]:
df_encoded = final_df.copy().reset_index()

### One-Hot Encoding

In [20]:
df_encoded = pd.get_dummies(df_encoded, columns=cat_features, dtype=int)

### Dropping TransactionStartTime column

In [21]:
df_encoded.drop(columns=['TransactionStartTime'], inplace=True)

In [22]:
df_encoded.head()

,index,TransactionId,CustomerId,Amount,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount,...,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
0,0,TransactionId_76871,CustomerId_4406,1000.0,2,0,109921.75,923.712185,119,3042.294251,...,0,0,0,0,0,0,0,0,1,0
1,1,TransactionId_73770,CustomerId_4406,-20.0,2,0,109921.75,923.712185,119,3042.294251,...,0,0,0,0,0,0,0,1,0,0
2,2,TransactionId_26203,CustomerId_4683,500.0,2,0,1000.00,500.000000,2,0.000000,...,0,0,0,0,0,0,0,0,1,0
3,3,TransactionId_380,CustomerId_988,20000.0,2,0,228727.20,6019.136842,38,17169.241610,...,0,0,0,0,0,1,0,0,1,0
4,4,TransactionId_28195,CustomerId_988,-644.0,2,0,228727.20,6019.136842,38,17169.241610,...,0,0,0,0,0,0,0,1,0,0

### Handling Missing Values

- **Imputation**: Fill missing values using methods like mean, median, mode, or KNN imputation.
- **Removal**: Remove rows or columns with missing values if they are few.

In [23]:
df_encoded.isnull().sum()

index                                   0
TransactionId                           0
CustomerId                              0
Amount                                  0
PricingStrategy                         0
FraudResult                             0
TotalTransactionAmount                  0
AverageTransactionAmount                0
TotalTransactions                       0
StdTransactionAmount                  712
TransactionHour                         0
TransactionDay                          0
TransactionMonth                        0
TransactionYear                         0
ProductCategory_airtime                 0
ProductCategory_data_bundles            0
ProductCategory_financial_services      0
ProductCategory_movies                  0
ProductCategory_other                   0
ProductCategory_ticket                  0
ProductCategory_transport               0
ProductCategory_tv                      0
ProductCategory_utility_bill            0
ChannelId_ChannelId_1                   0
ChannelId_ChannelId_2                   0
ChannelId_ChannelId_3                   0
ChannelId_ChannelId_5                   0
dtype: int64

 - **Filling StdTransactionAmount missing values with median**

In [24]:
df_encoded['StdTransactionAmount'].fillna(df_encoded['StdTransactionAmount'].median(), inplace=True)

/tmp/ipykernel_23002/4215117084.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_encoded['StdTransactionAmount'].fillna(df_encoded['StdTransactionAmount'].median(), inplace=True)


### Normalizing/Standardizing Numerical Features

Normalization and standardization scale numerical features to a similar range.

- **Normalization**: Scales data to [0, 1].
- **Standardization**: Scales data to have a mean of 0 and a standard deviation of 1.

In [25]:
columns_to_normalize= ['TotalTransactionAmount', 'AverageTransactionAmount']
columns_to_standardize = ['TotalTransactions', 'StdTransactionAmount']

### Normaliation

In [26]:
normalize_columns(df_encoded, columns_to_standardize)

,index,TransactionId,CustomerId,Amount,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount,...,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
0,0,TransactionId_76871,CustomerId_4406,1000.0,2,0,109921.75,923.712185,0.028851,0.000919,...,0,0,0,0,0,0,0,0,1,0
1,1,TransactionId_73770,CustomerId_4406,-20.0,2,0,109921.75,923.712185,0.028851,0.000919,...,0,0,0,0,0,0,0,1,0,0
2,2,TransactionId_26203,CustomerId_4683,500.0,2,0,1000.00,500.000000,0.000244,0.000000,...,0,0,0,0,0,0,0,0,1,0
3,3,TransactionId_380,CustomerId_988,20000.0,2,0,228727.20,6019.136842,0.009046,0.005187,...,0,0,0,0,0,1,0,0,1,0
4,4,TransactionId_28195,CustomerId_988,-644.0,2,0,228727.20,6019.136842,0.009046,0.005187,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,95657,TransactionId_89881,CustomerId_3078,-1000.0,2,0,2438140.00,4255.043630,0.139853,0.006814,...,0,0,0,0,0,0,0,1,0,0
95658,95658,TransactionId_91597,CustomerId_3874,1000.0,2,0,58499.60,1360.455814,0.010269,0.000687,...,0,0,0,0,0,0,0,0,1,0
95659,95659,TransactionId_82501,CustomerId_3874,-20.0,2,0,58499.60,1360.455814,0.010269,0.000687,...,0,0,0,0,0,0,0,1,0,0
95660,95660,TransactionId_136354,CustomerId_1709,3000.0,2,0,851985.00,1625.925573,0.127873,0.000969,...,0,0,0,0,1,0,0,0,1,0
95661,95661,TransactionId_35670,CustomerId_1709,-60.0,2,0,851985.00,1625.925573,0.127873,0.000969,...,0,0,0,0,0,0,0,1,0,0

### Standardizing

In [27]:
print(df_encoded.columns)

Index(['index', 'TransactionId', 'CustomerId', 'Amount', 'PricingStrategy',
       'FraudResult', 'TotalTransactionAmount', 'AverageTransactionAmount',
       'TotalTransactions', 'StdTransactionAmount', 'TransactionHour',
       'TransactionDay', 'TransactionMonth', 'TransactionYear',
       'ProductCategory_airtime', 'ProductCategory_data_bundles',
       'ProductCategory_financial_services', 'ProductCategory_movies',
       'ProductCategory_other', 'ProductCategory_ticket',
       'ProductCategory_transport', 'ProductCategory_tv',
       'ProductCategory_utility_bill', 'ChannelId_ChannelId_1',
       'ChannelId_ChannelId_2', 'ChannelId_ChannelId_3',
       'ChannelId_ChannelId_5'],
      dtype='object')

In [28]:
from sklearn.preprocessing import StandardScaler

def standardize_columns(df, columns):
    scaler = StandardScaler()
    df[columns] = scaler.fit_transform(df[columns])
    return df

df_encoded = standardize_columns(df_encoded, columns_to_standardize)

In [29]:
df_encoded.head()

,index,TransactionId,CustomerId,Amount,PricingStrategy,FraudResult,TotalTransactionAmount,AverageTransactionAmount,TotalTransactions,StdTransactionAmount,...,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_transport,ProductCategory_tv,ProductCategory_utility_bill,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
0,0,TransactionId_76871,CustomerId_4406,1000.0,2,0,109921.75,923.712185,-0.311831,-0.167524,...,0,0,0,0,0,0,0,0,1,0
1,1,TransactionId_73770,CustomerId_4406,-20.0,2,0,109921.75,923.712185,-0.311831,-0.167524,...,0,0,0,0,0,0,0,1,0,0
2,2,TransactionId_26203,CustomerId_4683,500.0,2,0,1000.00,500.000000,-0.444993,-0.201719,...,0,0,0,0,0,0,0,0,1,0
3,3,TransactionId_380,CustomerId_988,20000.0,2,0,228727.20,6019.136842,-0.404020,-0.008737,...,0,0,0,0,0,1,0,0,1,0
4,4,TransactionId_28195,CustomerId_988,-644.0,2,0,228727.20,6019.136842,-0.404020,-0.008737,...,0,0,0,0,0,0,0,1,0,0

### Finally Saving the data to a new csv file

In [30]:
df_encoded.to_csv('../data/processed_dataa.csv', index=False)